/* CSS Document */

nav {


}

nav ul {
	list-style: none;
}
nav ul li {
	display: block;
	float: left;
	padding: 3px 15px;
}
nav ul li a {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	transition: all .25s ease;
	color: #E0E0E0;
}
nav ul li a:hover {
	color: #E56038;
}
.navbar {
	height: 100px;
	background-color: #333333;
}
img {
	max-height: 100%;
	max-resolution: 100%;
}
.sun-upper {
	width: 70px;
	height: 70px;
	margin-bottom: 10px;
}
.sun-lower {
	width: 70px;
	height: 70px;
	margin-top: 10px;
}


